/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
/* colorscheme: https://kuler.adobe.com/#create/fromacolor */
$brown: #4C2B2F;
$orange: #E57152;
$yellow: #E8DE67;
$white: #FFEFC3;
$green: #C0CCAB;

/* I was told this font would work on the iPhone http://iosfonts.com/ */
$headline-font: 'Avenir-Black';
$body-font: 'Avenir-Book';

/* Scale:
  /* http://modularscale.com/scale/?px1=18&px2=320&ra1=1.778&ra2=0 */

body {
  background: $white;
  color: $brown;
  font-size: 18px;
  font-family: $body-font;
}

#main {
  padding: 1%;
}

header {
  padding-bottom: 1em;

  #title {
    color: $orange;
    font-family: $headline-font;
    font-size: 8em;
    text-align: center;
  }

  #tagline {
    color: $brown;
    font-size: 3.161em;
    text-align: right;
  }
}

nav {
  margin-top: 1em;
  font-size: 5.621em;
  ul {
    li {
      list-style-type: none;
      margin-bottom: 1em;
    }
  }

  a {
    background: $green;
    color: $brown;
    display: block;
    text-align: center;
    right: auto;
    margin-left: 12.5%;
    width: 55%;
    padding: 1em;
    text-decoration: none;
  }
}

#nerd-list {
  padding-top: 3.163px;

  img.nerd-photo {
    width: 75%;
    display: block;
    margin: 0 auto;
  }

  p.nerd {
    font-size: 4em;
    padding: 0.563em 1em 1em 1em;
    text-align: center;
  }

  ul {
    li {
      list-style-type: none;
      margin-bottom: 3.163em;
    }
  }
}

.hidden {
  display: none;
}
