$black: #444444;
$black-dark: #222222;
$black-light: #666666;

$font-stack: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

%font {
  font-family: $font-stack;
  font-weight: 400;
}

%font-bold {
  font-family: $font-stack;
  font-weight: 900;
}

%font-light {
  font-family: $font-stack;
  font-weight: 200;
}  
