<nav class="nerd-navigation row">
  <div class="large-6 columns search">
    <input ng-model="searchText" placeholder="search" class="search-box">
  </div>

  <div class="large-6 columns filters">
    <ul class="filter-list">
      <li class="filter nav-link">
        <a href="/nerds/name-only">Names</a>
      </li>
      <li class="filter nav-link">
        <a href="/nerds/photo-only">Photos</a>
      </li>
      <li class="filter nav-link">
        <a href="/">Both</a>
      </li>
    </ul>
  </div>
</nav>
