.nerd-list {
  list-style-type: none;
}

.nerd-list-item-name {
  font-size: 2.778em;
  text-align: center;
  height: 2.778em;
}

.nerd-list-item-photo {
  height: 14.063em;
  padding: 5% 0;

  .nerd-photo {
    display: block;
    margin: 0 auto;
    padding: 5% 0;
  }
}